<head>
  <title>
    {% if page.url == "/" or page.url == "/index.html" %}
      Pedro López | Músico y Trompetista profesional
    {% else %}
      {{ page.title }} | Pedro López
    {% endif %}
  </title>

  <meta name="google-site-verification" content="FNmua_leEnAiMq-iEERAfyWuCzuYLyXVLnFPdRJfJGY" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/syntax.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="dns-prefetch" href="https://cloud.umami.is">

  <link rel="stylesheet" 
        href="https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro&display=swap" 
        media="print" 
        onload="this.media='all'; this.onload=null;">

  <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" 
        media="print" 
        onload="this.media='all'; this.onload=null;">

  <noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  </noscript>

  {% if page.math %}
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  {% endif %}

  <script defer 
  src="{{ site.github.url }}/assets/js/audio-lib.js" 
  data-website-id="fb8550e2-290d-4293-97f7-cb3cc35527db"
  data-host-url="https://cloud.umami.is">
</script>

  {% feed_meta %}
  {% seo %}
</head>
