<!doctype html>
<html>
  {% include head.html %}
  <body class="{{ page.body_class }}"> <div class="container">
      {% include header.html %}
      <div class="content-wrapper">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
    <script>
document.addEventListener("scroll", function() {
  const header = document.getElementById("main-header");
  
  // Si bajamos más de 50px, añadimos la clase .scrolled
  if (window.scrollY > 50) {
    header.classList.add("scrolled");
  } else {
    // Si volvemos arriba, quitamos la clase (vuelve a ser transparente)
    header.classList.remove("scrolled");
  }
});
</script>
  </body>
</html>

